[submodule "deps/upoll"]
	path = deps/upoll
	url = https://github.com/richardhundt/upoll.git
[submodule "deps/uthread"]
	path = deps/uthread
	url = https://github.com/richardhundt/uthread.git
[submodule "deps/nanomsg"]
	path = deps/nanomsg
	url = https://github.com/nanomsg/nanomsg.git
[submodule "deps/tvmjit"]
	path = deps/tvmjit
	url = https://github.com/fperrad/tvmjit.git
